body { background: #353433; margin: 0; padding: 0; color: #e9e8e7;
  font: 16px Helvetica, sans-serif;}

#head, #foot { background: #090807; line-height: 40px; height: 40px; }
#head .text { float: left; margin-left: 8px; }
#head .button { float: left; margin-left: 4px; width: 1.75em; text-align: center;
  line-height: 24px; margin-top: 4px; background: #252423; border-radius: 8px; }
#head .button[data-active="1"] { background: #8b8685 !important; }

#foot { position: fixed; bottom: 0; left: 0; right: 0;
  text-align: center;
  height: 64px; line-height: 64px; }
#foot .button {
  display: inline-block; width: 5em; text-align: center;
  border-right: 1px solid #454443; }
#foot .button:first-child {
  border-left: 1px solid #454443; }
#foot .button[data-active="1"] { background: #8b8685 !important; }

#main { position: fixed; top: 48px; right: 8px; bottom: 64px; left: 8px; }

.row { position: absolute; left: 1%; right: 1%; }
.white, .black {
  -webkit-transform: translate3d(0,0,0); }
.white { position: absolute; background: #8b8685; top: 0; bottom: 0;
  box-shadow: inset -2px -2px 0 0 black,
    inset 2px -2px 0 0 #e9e8e7; }
.black { position: absolute; background: #252423; top: 0;
  width: 54px; height: 44%;
  margin-left: -27px;
  border-radius: 0 0 27px 27px;
  z-index: 1; }
.white[data-pressed="1"],
.black[data-pressed="1"] {
  background: #ffb !important; }
#debug { position: absolute; bottom: 48px; right: 0; }
